PORT=3000
DATABASE_PATH=/data/dazhi.sqlite
TZ=Asia/Taipei
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
COLLECTOR_INTERVAL_MS=30000
OPENSKY_LAMIN=25.06
OPENSKY_LAMAX=25.08
OPENSKY_LOMIN=121.54
OPENSKY_LOMAX=121.57
